In [2]:
import pandas as pd

In [29]:
df=pd.read_csv('../../data/names.tsv', sep='\t')
df

                 personLabel                         aliasLabel
0                     Cicero                M. Tullii Ciceronis
1                     Cicero                  M. Tullius Cicero
2      Mustafa Kemal Atatürk                      Kemal Atatürk
3                  Caracalla          Marcus Aurelius Antoninus
4             Britta Thomsen                                NaN
...                      ...                                ...
49954        Sulim Yamadayev  Suleiman Bekmirzayevich Yamadayev
49955        Sulim Yamadayev     Sulim Bekmirzayevich Yamadayev
49956              Tom Mboya       Thomas Joseph Odhiambo Mboya
49957          Barnabe Googe                                NaN
49958         Filippo Turati                                NaN

[49959 rows x 2 columns]

In [32]:
for i in df['aliasLabel']:
    name=i
    
    # Define the mapping of letters to Soundex digits
    soundex_digits = "01230120022455012623010202"

    # Convert the name to uppercase and remove non-alphabetic characters
    name = str(name)
    name = ''.join(c for c in name if c.isalpha())
    name = name.upper()

    # If the name is empty or only contains one character, return the name as is

    # Remove consecutive duplicates
    name = name[0] + ''.join(name[i] for i in range(1, len(name)) if name[i] != name[i-1])
    filter_name=''
    for char in name:
        if ord(char) - ord('A') <= 25:
            filter_name += char
        name=filter_name

    # Replace each letter with its Soundex digit
    soundex_code = name[0]
    for letter in name[1:]:
        soundex_digit = soundex_digits[ord(letter) - ord('A')]
        if soundex_digit != soundex_code[-1]:
            soundex_code += soundex_digit

    # Remove any zeros and pad the code with trailing zeros if needed
    soundex_code = soundex_code.replace('0', '')
    soundex_code += '0' * (4 - len(soundex_code))

    soundex_code[:4]

TypeError: 'float' object is not iterable

In [26]:
name= 'CICERO'

# Define the mapping of letters to Soundex digits
soundex_digits = "01230120022455012623010202"

# Convert the name to uppercase and remove non-alphabetic characters
name = name.upper()
name = ''.join(c for c in name if c.isalpha())

# If the name is empty or only contains one character, return the name as is

# Remove consecutive duplicates
name = name[0] + ''.join(name[i] for i in range(1, len(name)) if name[i] != name[i-1])
filter_name=''
for char in name:
    if ord(char) - ord('A') <= 25:
        filter_name += char
    name=filter_name

# Replace each letter with its Soundex digit
soundex_code = name[0]
for letter in name[1:]:
    soundex_digit = soundex_digits[ord(letter) - ord('A')]
    if soundex_digit != soundex_code[-1]:
        soundex_code += soundex_digit

# Remove any zeros and pad the code with trailing zeros if needed
soundex_code = soundex_code.replace('0', '')
soundex_code += '0' * (4 - len(soundex_code))

soundex_code[:4]

'C260'

In [4]:
ord('Z') - ord('A')

25